* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}

h1{
    color:  #397929;
}
p{
    color:   #397929;
}

.dino {
    height: 80px;
    width: 60px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-popup {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 40px;
    background: linear-gradient(0deg, rgb(194, 248, 180) 20%, rgb(255, 255, 255) 96%);
    padding-inline: 10px;
    border-radius: 20px;
    height: 430px;
    width: 280px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    display: none;
}

.sign-form:hover {
    transform: scale(1.02);
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gender {
    display: flex;
    flex-direction: row;
    color:  #397929;
}

input {
    width: 100%;
}

input[type=text],
[type=password] {
    border: 1px solid #519c3e;
    width: 100%;
    height: 30px;
    transition: transform 0.3s ease;

    background: repeating-linear-gradient(135deg,
            #ffffff,
            #ffffff 15px,
            #dad8d8 15px,
            #dad8d8 25px);
}

input[type="text"]:hover,
input[type="password"]:hover {
    transform: scale(1.05);
    background: repeating-linear-gradient(135deg,
            #ffffff,
            #ffffff 15px,
            #c2f8b4 15px,
            #c2f8b4 25px);
}

input[type="text"]:valid,
input[type="password"]:valid {
    background: #d1ffd1;
    border-color: #6ce688;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #d1ffd1;
    border-color: #6ce688;
}

.button-container p {
    margin-top: 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=submit] {
    background:#3c943f;
   
    transition: transform 0.3s ease;
}

input[type="submit"],
#close-btn {
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    flex: 1;
    height: 40px;
    border: none;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    background: #519c3e;
}

input[type="submit"]:active {
    transform: scale(1.15);
    background: #519c3e;
}

#close-btn {
    background: #dd3a3a;
    transition: transform 0.3s ease;
}

#close-btn:hover {
    transform: scale(1.05);
    background: #a82525;
}

#open-button {
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#open-button:hover {
    transform: scale(1.05);
    background-color: #3c943f;
}

#open-button.active {
    display: flex;
}