
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

h1 {
    color: #397929;
    font-size: 26px;
    text-align: center;
}

p {
    color: #397929;
    font-size: 16px;
}

.dino {
    height: 80px;
    width: 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-popup {
    font-size: 25px;
    background: linear-gradient(0deg, rgb(194, 248, 180) 20%, rgb(255, 255, 255) 96%);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    display: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#form-popup:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-step {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.user p{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Input */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dad8d8;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: repeating-linear-gradient(135deg, #ffffff, #ffffff 15px, #dad8d8 15px, #dad8d8 25px);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover {
    transform: scale(1.05);
    background: repeating-linear-gradient(135deg, #ffffff, #ffffff 15px, #c2f8b4 15px, #c2f8b4 25px);
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
input[type="password"]:valid {
    background: #d1ffd1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    background: #d1ffd1;
}
/* Buttons */
.button-container {
    margin-top: 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.buttons,
input[type="submit"],
#close-btn {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.buttons:hover,
input[type="submit"]:hover,
#close-btn:hover {
    transform: scale(1.05);
    background-color: #3c943f;
}

.buttons:active,
input[type="submit"]:active,
#close-btn:active {
    transform: scale(1.15);
    background-color: #519c3e;
}

#close-btn {
    background-color: #dd3a3a;
}

#close-btn:hover {
    background-color: #a82525;
}

/* Open Button */
#open-button {
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#open-button:hover {
    transform: scale(1.05);
    background-color: #3c943f;
}

#open-button.active {
    display: flex;
}